{% extends 'base-front.html.twig' %}

{% block title %}New ReservationHotel{% endblock %}

{% block body %}
    <h1>Create new ReservationHotel</h1>

    {{ include('reservation_hotel/_form.html.twig') }}

{% endblock %}
